<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Hello World!</title>
    {% block my_javascripts %}
        <script src="../../../../vendor/node_modules/lib/node_modules/cesium/Source/Cesium.js"></script>
    {% endblock %}
    <style>
        @import url(../../../../vendor/node_modules/lib/node_modules/cesium/Source/Cesium.js);
        html, body, #cesiumContainer {
            width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
        }
    </style>
</head>
<body>
<div id="cesiumContainer"></div>
<script>
    var viewer = new Cesium.Viewer('cesiumContainer');
</script>
</body>
</html>